.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    margin-top: 4px;
}

.example-header-image {
    background-size: cover;
}

.title {
    font-weight: bold;
}

.img-article {
    height: 350px;
}